<section class="not-found min-h-[75vh]  py-8 md:py-16 bg-gray-800 flex items-center ">
    <div class="container max-w-6xl mx-auto px-4">
        <div class="error-content text-center">
            <div class="error-image-wrapper max-w-[300px] md:max-w-[400px] mx-auto">
                <img src="/images/error.svg" alt="Page Not Found Illustration" class="error-image w-full h-auto rounded-full object-contain"width="300"height="300"loading="lazy">
            </div>
            <h1 class="error-title text-4xl md:text-5xl mt-6 mb-4 text-gray-800">404 - Page Not Found</h1>
            <p class="error-message text-lg text-gray-600 mb-8">The page you're looking for doesn't exist or has been moved.</p>
            <a href="/" class="error-link  px-6 py-3 secondery-btn">Return to Home</a></div>
    </div>
</section>
