<footer class="bg-gray-900 p-6  ">
    <div class="w-11/12 mx-auto text-center">
        <h2 class="text-2xl text-white font-semibold mb-4">Get The FreshCart App</h2>
        <p class="text-gray-400 text-sm mb-4">We will send you a link. Open it on your phone to download the app.</p>
        <div class="flex flex-col md:flex-row items-center justify-center gap-4 mb-6">
        <input type="text" class=" main-input  py-3 px-4" placeholder="Email" />
        <button class="secondery-btn  w-auto  ">Share App Link</button>
        </div>
        <hr class="border-gray-700 mb-6" />
        <div class="pay-details flex flex-col md:flex-row justify-between items-center gap-6">
        <div class="flex items-center gap-3 mb-4 md:mb-0">
            <h3 class="text-sm text-white">Payment Partners:</h3>
            <img src="./images/amazon-pay.png" width="50" alt="Amazon Pay" />
            <img src="./images/American-Express-Color.png" width="50" alt="American Express" />
            <img src="./images/paypal.png" width="50" alt="PayPal" />
            <img src="./images/mastercard.webp" width="50" alt="Mastercard" />
        </div>
        <div class="flex items-center gap-3">
            <h3 class="text-sm text-white">Get Deliveries with FreshCart:</h3>
            <img src="./images/get-google-play.png" width="100" alt="Get it on Google Play" />
            <img src="./images/get-apple-store.png" width="100" alt="Get it on the App Store" />
        </div>
        </div>
    </div>
</footer>  

