<section class="  flex items-center justify-center ">
    <div class=" bg-gray-900 text-white p-20 rounded rounded-xl ">
        <!-- Response Message -->
        @if (msgSuc) {<p class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-2 rounded-md w-3/4 mx-auto text-sm font-semibold">{{msgSuc}}</p>}
        @if (msgErr) {<p class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-md w-3/4 mx-auto text-sm font-semibold">{{msgErr}}</p>}

        <h3 class="mb-6 text-xl font-bold">إعادة تعيين كلمة المرور</h3>

        <!-- Step 1: Email Search -->
        @if (step === 1) {
            <form [formGroup]="verifyEmailForm" (ngSubmit)="searchEmail()">
                <p class="mb-4">يرجى إدخال بريدك الإلكتروني للبحث عن حسابك</p>
                <input formControlName="email" type="email" placeholder="البحث بواسطة البريد الإلكتروني ..." class="w-full p-3 mb-4 main-input">
                <button type="submit" class=" p-2 m-2  secondery-btn">بحث</button>
            </form>
        }

        <!-- Step 2: Reset Code -->
        @if (step === 2) {
            <form [formGroup]="resetCodeForm" (ngSubmit)="sendCode()">
                <p class="mb-4">يرجى إدخال الكود المرسل إلى بريدك الإلكتروني</p>
                <input formControlName="resetCode" type="text" placeholder="اكتب الكود المرسل ..."  class="w-full p-3 mb-4 main-input">
                <button type="submit" class=" p-2 m-2  secondery-btn">إرسال</button>
            </form>
        }

        <!-- Step 3: New Password -->
        @if (step === 3) {
            <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
                <p class="mb-4">يرجى إدخال كلمة المرور الجديدة</p>
                <input formControlName="email" type="email" placeholder="اكتب البريد الإلكتروني..." class="w-full p-3 mb-4 main-input">
                <input formControlName="newPassword" type="password" placeholder="اكتب كلمة المرور الجديدة ..." class="w-full p-3 mb-4 main-input">
                <button type="submit" class="p-2 m-2 secondery-btn">إعادة تعيين</button>
            </form>
        }
    </div>
</section>